@font-face {
  font-family: 'Jost-Bold';
  src: url('../download/Jost/static/Jost-Bold.ttf') format('truetype');
}

body {
  position: relative;
  height: 3000px;
  background-color: #3f3d3d;
}

.drawer-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hamburger {
  position: absolute;
  display: grid;
  grid-template-columns: 8px 8px 8px;
  grid-row-gap: 7px;
  top: 28px;
  right: 24px;
  width: 24px;
  height: 20px;
  opacity: 0;
  z-index: 11;
  transform-origin: center;
  cursor: pointer;
  pointer-events: none;
}
.hamburger.active {
  opacity: 1;
  pointer-events: all;
  animation: hamburgerActiveAnimation 0.5s;
}
@keyframes hamburgerActiveAnimation {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

.hamburger.mouseover {
  grid-template-columns: 2px 2px 2px;
  grid-column-gap: 9px;
}

.hamburger .dot {
  position: absolute;
  width: 2px;
  border-top: 2px solid #fff;
  opacity: 0;
  pointer-events: none;
}

.hamburger .dot:nth-child(3n + 2) {
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  border-top: 1px solid #fff;
  opacity: 1;
  pointer-events: all;
}
.hamburger .dot:nth-child(1) {
  top: 0;
  left: 0;
}
.hamburger .dot:nth-child(2) {
  top: 0;
  right: 50%;
  transform: translateX(50%);
}
.hamburger .dot:nth-child(3) {
  top: 0;
  right: 0;
}
.hamburger .dot:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hamburger .dot:nth-child(5) {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.hamburger .dot:nth-child(6) {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.hamburger .dot:nth-child(7) {
  left: 0;
  bottom: 0;
}
.hamburger .dot:nth-child(8) {
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
}
.hamburger .dot:nth-child(9) {
  right: 0;
  bottom: 0;
}

.hamburger.mouseover .dot {
  width: 2px;
  border-radius: 999px;
  border-top: 2px solid #fff;
  opacity: 1;
  pointer-events: all;
}

.hamburger.mouseover .dot:nth-child(1) {
  animation: dotMouseoverAnimation1 0.4s;
}
@keyframes dotMouseoverAnimation1 {
  0% {
    transform: translate(5px, 4px);
  }
  100% {
    transform: none;
  }
}
.hamburger.mouseover .dot:nth-child(2) {
  animation: dotMouseoverAnimation2 0.4s;
}
@keyframes dotMouseoverAnimation2 {
  0% {
    transform: translate(50%, -1px);
  }
  100% {
    transform: translateX(50%);
  }
}
.hamburger.mouseover .dot:nth-child(3) {
  animation: dotMouseoverAnimation3 0.4s;
}
@keyframes dotMouseoverAnimation3 {
  0% {
    transform: translate(-5px, 7px);
  }
  100% {
    transform: none;
  }
}
.hamburger.mouseover .dot:nth-child(4) {
  animation: dotMouseoverAnimation4 0.4s;
}
@keyframes dotMouseoverAnimation4 {
  0% {
    transform: translate(6px, -50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
.hamburger.mouseover .dot:nth-child(6) {
  animation: dotMouseoverAnimation6 0.4s;
}
@keyframes dotMouseoverAnimation6 {
  0% {
    transform: translate(-8px, -49%);
  }
  100% {
    transform: translateY(-50%);
  }
}
.hamburger.mouseover .dot:nth-child(7) {
  animation: dotMouseoverAnimation7 0.4s;
}
@keyframes dotMouseoverAnimation7 {
  0% {
    transform: translate(5px, -2px);
  }
  100% {
    transform: none;
  }
}
.hamburger.mouseover .dot:nth-child(8) {
  animation: dotMouseoverAnimation8 0.4s;
}
@keyframes dotMouseoverAnimation8 {
  0% {
    transform: translate(50%, -2px);
  }
  100% {
    transform: translateX(50%);
  }
}
.hamburger.mouseover .dot:nth-child(9) {
  animation: dotMouseoverAnimation9 0.4s;
}
@keyframes dotMouseoverAnimation9 {
  0% {
    transform: translate(-6px, -4px);
  }
  100% {
    transform: none;
  }
}

.hamburger.mouseout .dot:nth-child(1) {
  animation: dotMouseoutAnimation1 0.7s;
}
@keyframes dotMouseoutAnimation1 {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  50% {
    transform: translate(5px, 4px);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    transform: none;
    opacity: 0;
    pointer-events: none;
  }
}
.hamburger.mouseout .dot:nth-child(2) {
  animation: dotMouseoutAnimation2 0.7s;
}
@keyframes dotMouseoutAnimation2 {
  0% {
    width: 2px;
    border-top: 2px solid #fff;
  }
  50% {
    width: 2px;
    transform: translate(50%, 1px);
    border-top: 2px solid #fff;
  }
  100% {
    width: 24px;
    transform: translateX(50%);
    border-top: 1px solid #fff;
  }
}
.hamburger.mouseout .dot:nth-child(3) {
  animation: dotMouseoutAnimation3 0.7s;
}
@keyframes dotMouseoutAnimation3 {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  50% {
    transform: translate(-5px, 7px);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    transform: none;
    opacity: 0;
    pointer-events: none;
  }
}
.hamburger.mouseout .dot:nth-child(4) {
  animation: dotMouseoutAnimation4 0.7s;
}
@keyframes dotMouseoutAnimation4 {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  50% {
    transform: translate(6px, -50%);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
  }
}
.hamburger.mouseout .dot:nth-child(5) {
  animation: dotMouseoutAnimation5 0.7s;
}
@keyframes dotMouseoutAnimation5 {
  0% {
    width: 2px;
    border-top: 2px solid #fff;
  }
  50% {
    width: 2px;
    border-top: 2px solid #fff;
  }
  100% {
    width: 24px;
    border-top: 1px solid #fff;
  }
}
.hamburger.mouseout .dot:nth-child(6) {
  animation: dotMouseoutAnimation6 0.7s;
}
@keyframes dotMouseoutAnimation6 {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  50% {
    transform: translate(-8px, 100%);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
  }
}
.hamburger.mouseout .dot:nth-child(7) {
  animation: dotMouseoutAnimation7 0.7s;
}
@keyframes dotMouseoutAnimation7 {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  50% {
    transform: translate(5px, -2px);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    transform: none;
    opacity: 0;
    pointer-events: none;
  }
}
.hamburger.mouseout .dot:nth-child(8) {
  animation: dotMouseoutAnimation8 0.7s;
}
@keyframes dotMouseoutAnimation8 {
  0% {
    width: 2px;
    border-top: 2px solid #fff;
  }
  50% {
    transform: translate(50%, -2px);
    width: 2px;
    border-top: 2px solid #fff;
  }
  100% {
    transform: translateX(50%);
    width: 24px;
    border-top: 1px solid #fff;
  }
}
.hamburger.mouseout .dot:nth-child(9) {
  animation: dotMouseoutAnimation9 0.7s;
}
@keyframes dotMouseoutAnimation9 {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  50% {
    transform: translate(-6px, -4px);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    transform: none;
    opacity: 0;
    pointer-events: none;
  }
}

.close-button {
  position: absolute;
  top: 28px;
  right: 24px;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 11;
  cursor: pointer;
  pointer-events: none;
  transition: 1;
}

.close-button.active {
  opacity: 1;
  pointer-events: all;
}

.drawer {
  position: fixed;
  min-height: 100vh;
  padding: 50px 16px 43px;
  width: 100vw;
  background-color: #000;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.drawer.active {
  opacity: 1;
  pointer-events: all;
}

.drawer .inner {
  padding: 50px 16px 43px;
}

.drawer .menu-list {
  padding: 0 8px;
}

.drawer .menu-list .menu-item + .menu-item {
  margin-top: 32px;
}

.drawer .menu-list .menu-link {
  display: block;
  position: relative;
  padding-bottom: 18px;
  border-bottom: 1px solid #3f3d3d;
  font-family: 'Jost-Bold';
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.1rem;
  transition: 0.5s;
}

.drawer .menu-list .menu-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 24px;
  transition: 0.5s;
}

.drawer .menu-list .menu-link.mouseover::after {
  width: 100%;
}

.drawer .menu-list .menu-item:nth-child(6n + 1) .menu-link.mouseover {
  color: #ffc5c5;
}

.drawer .menu-list .menu-item:nth-child(6n + 1) .menu-link::after {
  border-bottom: 1px solid #eb0000;
}

.drawer .menu-list .menu-item:nth-child(6n + 2) .menu-link.mouseover {
  color: #d0d7f9;
}

.drawer .menu-list .menu-item:nth-child(6n + 2) .menu-link::after {
  border-bottom: 1px solid #0028ff;
}

.drawer .menu-list .menu-item:nth-child(6n + 3) .menu-link.mouseover {
  color: #d3ffdc;
}

.drawer .menu-list .menu-item:nth-child(6n + 3) .menu-link::after {
  border-bottom: 1px solid #00a320;
}

.drawer .menu-list .menu-item:nth-child(6n + 4) .menu-link.mouseover {
  color: #fff5bb;
}

.drawer .menu-list .menu-item:nth-child(6n + 4) .menu-link::after {
  border-bottom: 1px solid #f4d000;
}

.drawer .menu-list .menu-item:nth-child(6n + 5) .menu-link.mouseover {
  color: #ffc1f3;
}

.drawer .menu-list .menu-item:nth-child(6n + 5) .menu-link::after {
  border-bottom: 1px solid #ff69e2;
}

.drawer .menu-list .menu-item:nth-child(6n) .menu-link.mouseover {
  color: #ffd5b7;
}

.drawer .menu-list .menu-item:nth-child(6n) .menu-link::after {
  border-bottom: 1px solid #ff842b;
}

.drawer .button-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.drawer .button-wrapper .button {
  display: inline-block;
  max-width: 166px;
  transition: 0.5s;
}

.drawer .button-wrapper .button:hover {
  opacity: 0.5;
}

.drawer .icon-wrapper {
  display: flex;
  gap: 17px;
  margin-top: 32px;
  padding: 0 5px;
}

.drawer .icon {
  width: 20px;
  transition: 0.5s;
}

.drawer .icon:hover {
  opacity: 0.5;
}

.filter {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.filter.active {
  opacity: 0.3;
  pointer-events: all;
}

@media (min-width: 600px) {
  .drawer {
    right: 0;
    width: 332px;
  }

  .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .filter.active {
    opacity: 0.3;
    pointer-events: all;
  }
}

@media (min-width: 782px) {
  .drawer {
    width: 42vw;
  }
}
