@font-face {
  font-family: 'Jost-Bold';
  src: url('../download/Jost/static/Jost-Bold.ttf') format('truetype');
}

.drawer {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

.drawer .inner {
  padding: 50px 16px 43px;
}

.drawer .menu-list {
  padding: 0 8px;
}

.drawer .menu-list .menu-item + .menu-item {
  margin-top: 32px;
}

.drawer .menu-list .menu-link {
  display: block;
  position: relative;
  padding-bottom: 18px;
  border-bottom: 1px solid #3f3d3d;
  font-family: 'Jost-Bold';
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.1rem;
  transition: 0.5s;
}

.drawer .menu-list .menu-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 24px;
  transition: 0.5s;
}

.drawer .menu-list .menu-link.active::after {
  width: 100%;
}

.drawer .menu-list .menu-item:nth-child(6n + 1) .menu-link.active {
  color: #ffc5c5;
}

.drawer .menu-list .menu-item:nth-child(6n + 1) .menu-link::after {
  border-bottom: 1px solid #eb0000;
}

.drawer .menu-list .menu-item:nth-child(6n + 2) .menu-link.active {
  color: #d0d7f9;
}

.drawer .menu-list .menu-item:nth-child(6n + 2) .menu-link::after {
  border-bottom: 1px solid #0028ff;
}

.drawer .menu-list .menu-item:nth-child(6n + 3) .menu-link.active {
  color: #d3ffdc;
}

.drawer .menu-list .menu-item:nth-child(6n + 3) .menu-link::after {
  border-bottom: 1px solid #00a320;
}

.drawer .menu-list .menu-item:nth-child(6n + 4) .menu-link.active {
  color: #fff5bb;
}

.drawer .menu-list .menu-item:nth-child(6n + 4) .menu-link::after {
  border-bottom: 1px solid #f4d000;
}

.drawer .menu-list .menu-item:nth-child(6n + 5) .menu-link.active {
  color: #ffc1f3;
}

.drawer .menu-list .menu-item:nth-child(6n + 5) .menu-link::after {
  border-bottom: 1px solid #ff69e2;
}

.drawer .menu-list .menu-item:nth-child(6n) .menu-link.active {
  color: #ffd5b7;
}

.drawer .menu-list .menu-item:nth-child(6n) .menu-link::after {
  border-bottom: 1px solid #ff842b;
}

.drawer .button-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.drawer .button-wrapper .button {
  display: inline-block;
  max-width: 166px;
}

.drawer .icon-wrapper {
  display: flex;
  gap: 17px;
  margin-top: 32px;
  padding: 0 8px;
}

.drawer .icon {
  width: 20px;
}

@media (min-width: 600px) {
  .drawer-wrapper {
    position: absolute;
    right: 0;
    width: 332px;
  }
}

@media (min-width: 782px) {
  .drawer-wrapper {
    width: 42vw;
  }
}
